@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional custom styling */
body {
  background-color: #f9fafb;
  font-family: 'Inter', sans-serif;
}
.mirror {
  transform: scaleX(-1);
}

